:root {
    --white: #f7f7f7;
    --text-color: #333;
    --hacker-orange: #ff6600;
    --dirty-gold: rgba(213, 184, 16, 0.7);
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--hacker-orange);
    text-decoration: underline;
}

body {
    background: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

body.on-hustle:before {
    opacity: 1;
}


.site-content {
    height: 100%;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header {
    margin-bottom: 6em;
}

.title {
    position: relative;
    display: inline-block;
}

.title img {
    max-width: 100%;
    width: 500px;
    -webkit-mask: url(images/title.svg);
    mask: url(images/title.svg);
    background: var(--text-color);
    user-select: none;
    pointer-events: none;
    transition: background-color 8s;

}
.on-hustle .title img {
    background: #f4da41;
}

.title:before,
.title:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title:before {
    background-size: 100%;
    background-image: url(images/title.svg);
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.2));
    z-index: -1;
}
.title:after {
    -webkit-mask: url(images/title.svg);
    mask: url(images/title.svg);
    background: linear-gradient(rgba(255, 255, 255, 0), var(--dirty-gold));
    opacity: 0;
    transition: opacity 8s;
}
.on-hustle .title:after {
    opacity: 1;
}

.title img, .title:after {
    transition-delay: 27s;
}

.forever .title-sub {
    transition: color 8s;
    transition-delay: 27s;
    margin-top: -20px;
    text-transform: uppercase;
}

.forever.on-hustle .title-sub {
    color: #f4da41;
}


.speakers {
    position: absolute;
    left: 50%;
    top: 0;
    visibility: hidden;
}

.speaker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-top: -500px;
    transition: margin 14s;
}

.on-hustle .speaker {
    margin-top: 0;
}

.speaker:after {
    content: "";
    -webkit-mask: url(images/speaker.svg);
    mask: url(images/speaker.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: background-color 15s;
    animation: vibrate 1s infinite;
}

#speaker1:after,
#speaker4:after {
    animation-delay: 0.3s;
}

#speaker2:after {
    animation-delay: 0.6s;
}

#speaker6:after {
    animation-delay: 0.1s;
}

#speaker5:after {
    animation-delay: 0.7s;
}


.speaker:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(-1000px + 20px);
    left: 0;
    height: 1000px;
    width: 4px;
    margin-top: -5px;
    margin-left: 25px;
    background: rgba(0, 0, 0, 0.7);
}


.hustle-bar {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: 60px;
    -webkit-clip-path: inset(0 50% 0 50%);
    clip-path: inset(0 50% 0 50%);
}
.on-hustle .hustle-bar {
    animation: unveil 8s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 24s;
}

.hustle-bar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-color);
    -webkit-mask: url(images/hustle-bar.svg);
    mask: url(images/hustle-bar.svg);
    -webkit-mask-position: center; 
    mask-position: center; 
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.hustle-bar:before {
    background: linear-gradient(#f4da41, #d1b827);
}

.hustle-bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url(images/hustle-bar.svg);
    background-position: center;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
    z-index: -1;
}

.hustle-bar.flipped:after {
    filter: drop-shadow(0px -4px 2px rgba(0, 0, 0, 0.2));
}


.site-content {
    flex: 1;
    margin: 0 2em;
}

.latest-hustle {
    margin-bottom: 2em;
}

#latest-hustle-time {
    color: var(--hacker-orange);
}

.activate-hustle-button {
    font-size: 1.2em;
    padding: 0.6em 0.8em;
    background: none;
    border: none;
    width: 100%;
    color: var(--hacker-orange);
    border: 2px solid var(--hacker-orange);
}

.activate-hustle-button:hover {
    color: lightsalmon;
}

.activated-hustle-info {
    display: none;
}


.site-nav a {
    margin: 0 1em;
}


.site-footer {
    font-size: 0.8em;
    margin-bottom: 3rem;
    color: #777;
}

.site-footer a {
    color: inherit;
}

.flipped {
    transform: scale(1, -1);
}

.hustle-controls {
    background: var(--white);
    margin: 0 auto;
    border-radius: 0.4em;
}

@keyframes unveil {
    from {
        -webkit-clip-path: inset(0 50% 0 50%);
        clip-path: inset(0 50% 0 50%);
    }
    to {
        -webkit-clip-path: inset(0% 0%);
        clip-path: inset(0% 0%);
    }
}

@keyframes vibrate {
    0% { transform: scale(1, 1); }
    15% { transform: scale(0.99, 0.99); }
    50% { transform: scale(1.01, 1.01); }
    100% { transform: scale(1.0, 1.0); }
}



@media only screen and (max-height: 800px) {
    .site-header {
        margin-bottom: 3em;
    }

    .title img {
        width: 400px;
    }
}


@media only screen and (max-height: 500px) {
    .site-header {
        margin-bottom: 1em;
    }

    .title img {
        width: 300px;
    }
}