<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{page.title}}</title>
    <meta name="description" content="Keep on Hustlin' Keep on Hustlin' Keep on Hustlin' Keep on Hustlin' Keep on Hustlin' Keep on Hustlin' Keep on Hustlin' Keep on Hustlin'">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body class="{{ page.root_class }}">
    <div class="background"></div>
    <article class="site-content">
        <header class="site-header">
            <div class="speakers">
                <div class="speaker" id="speaker1" style="margin-left: -500px; top: 340px; transform: scale(-2, 2); transition-delay: 2s;"></div>
                <div class="speaker" id="speaker2" style="margin-left: -580px; top: 100px; transform: scale(-1.2, 1.2); transition-delay: 7s;"></div>
                <div class="speaker" id="speaker3" style="margin-left: -350px; top: 80px; transform: scale(-1.4, 1.4)"></div>

                <div class="speaker" id="speaker4" style="margin-left: 300px; top: 380px; transform: scale(1, 1); transition-delay: 2s;"></div>
                <div class="speaker" id="speaker5" style="margin-left: 330px; top: 100px; transform: scale(0.8, 0.8); transition-delay: 8s;"></div>
                <div class="speaker" id="speaker6" style="margin-left: 460px; top: 220px; transform: scale(2, 2); transition-delay: 5s;"></div>
            </div>
            <div class="hustle-bar"></div>
            <div class="title">
                <img src="images/title-bg.svg" />
            </div>
            <h2 class='title-sub'>{{page.subtext}}</h2>
            <div class="hustle-bar flipped"></div>
        </header>

        {{content}}
    </article>

    <footer class="site-footer">
        <i>Keep on Hustlin'</i> &copy; Van McCoy
        <br />
        <br />A 2018 side hustle by
        <a href="https:/blog.mattbierner.com">Matt Bierner</a>
    </footer>

</body>

</html>